.navbar-nav {
text-align: right;
}

.navbar-collapse {
    text-align: right;
    justify-content: flex-end;
}

.navbar__logo {
    margin-left: 20px;
}
.nav-item {
    text-align: right;
    font-family: $poppins;
    font-weight: $bold;
    text-decoration: none;
}

.navbar-link {
    text-align: right;
    text-decoration: none;
    color: $white;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-link:hover {
    background-color: transparent;
    color: $tangerine;
}

.navbar__ham {
    color: $white;
    font-size: $x-large;
}
.navbar__ham:hover {
    color: $orange;
}

.navbar-dark .navbar-toggler {
    border:none;
  }

.navbar-dark .navbar-toggler:focus {
    border: none;
    color: transparent;
    outline: none;
    box-shadow: none;
}