 @keyframes spin {

    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

@keyframes forward-backward {
    0% {
        transform: translateX(0px);
    }
    
    50% {
        transform: translateX(120px);
    }
    0% {
        transform: translateX(0px);
    }

}