.footer {
    background-color: $sable;
    text-align: center;
    height: 25%;

&__text {
    font-family: $ubuntu;
    font-size: $medium;
    color: $white;
    margin-top: 2%;
}
&__text-container {
    display: flex;
    justify-content: center;
}

&__list-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
&__list {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-top: 7%;
}
&__list-item {
color: $white;
font-family: $ubuntu;
font-size: $medium;
list-style: none;
text-align: center;
margin: 0;

}
&__input-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}
&__input:focus {
background-color: $tangerine;
}
&__button {
    margin-left: 10px;
    background-color: $tangerine;
    border-radius: 10px;
    font-family: &ubuntu;
}
&__button:hover {
    background-color: $white;
}
}

