.main {
    padding: 1%;

    
&__container {
        border: solid;
        border-color: $sable;
        border-width: 2px;
        width: 100%;
        padding: 1%;
        }
&__blog-left1 {
    padding: 1%;
    border: solid $charcoal 2px;
}
&__blog-left1-img {
    width: 100%;
}
&__blog-left1-title {
    font-family: $ubuntu;
    font-weight: $bold;
    font-size: $large;
    margin-top: 1%;
}
&__blog-left1-text {
    font-family: $ubuntu;
    font-size: $medium;
    text-align: justify;
    margin-top: 1%;
}
&__blog-left1-instructor {
    font-family: $ubuntu;
    font-size: $medium;
    font-weight: $bold;
}
&__icons {
    display: flex;
    justify-content: space-between;
    width: 150px;
    align-items: baseline;
}

&__icon-number {
font-family: $ubuntu;
font-size: $medium;
}
&__blog-left2 {
    padding: 1%;
    border: solid $charcoal 2px;
    margin-top: 1%;
}
&__blog-left2-img {
    width: 100%;
}
&__blog-left2-title {
    font-family: $ubuntu;
    font-weight: $bold;
    font-size: $large;
    margin-top: 1%;
}
&__social-icons {
    display: flex;
    justify-content: space-between;
    width: 80px;
    margin: auto;
}
&__blog-left2-text {
    font-family: $ubuntu;
    font-size: $medium;
    text-align: justify;
    margin-top: 1%;
}
&__blog-left2-instructor {
    font-family: $ubuntu;
    font-size: $medium;
    font-weight: $bold;
}
&__container2 {
    border: solid;
    border-color: $sable;
    border-width: 2px;
    width: 100%;
    padding: 1%;
    }
&__index {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
&__index-img1 {
    width: 25%;
    border-radius: 50%;
    border: solid $charcoal 1px;
}
&__index-title {
    text-transform: uppercase;
    font-family: $poppins;
    font-weight: $bold;
    font-size: $large;
    text-align: center;
    margin-top: 2%;
}
&__index-text {
    font-family: $ubuntu;
    font-size: $medium;
    text-align: justify;
    margin-top: 1%;
}
&__index-list-title {
    background-color: $charcoal;
    color: $white;
    text-align: center;
    font-family: $poppins;
    font-weight: $bold;
}
&__index-list-item {
    font-family: $ubuntu;
    list-style: circle;
    font-size: $medium;
}
&__index-list-link
{
    text-decoration: none;
}
&__index-animation {
    margin: auto;
    width: 50%;
    svg path.gear {
        animation-name: spin;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform-origin: 80% 80%;
    }
    
    svg path.code {
        animation-name: forward-backward;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}
}